@import url('https://fonts.googleapis.com/css?family=Roboto+Mono');

.textoo {
  width: inherit;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  position: absolute;
}

body {
  font-family: 'Roboto Mono', monospace;
  font-size: 16px;
  background-color: #000;
}

.errore {
  width: 100%;
}

.textoo {
  text-align: center;
}

p {
  color: #fff;
  font-size: 24px;
  letter-spacing: 2.5px;
  margin: 0;
}

a {
  color: #fff;
  text-decoration: underline;
  text-decoration-color: hotpink;
}